<ul style="font-size: 40px"><% @grid.each do |letter| %>
<li style="display: inline"><%= letter.join %></li>
    <% end %>
</ul>

<form action="/score" method="post">
  <input type="text" name="guess" value="<%= @guess %>" placeholder="Whats your guess?">
  <input type="submit" name="score">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>

